bin
obj
tmp
.settings
.idea
.project
.vscode
.nyc_output
*.sublime-*
.externalToolBuilders
*~
*.diff
*.patch
*.bak
*.log
*.swp
yarn.lock
package-lock.json
.DS_Store
.project
coverage
node_modules
imagemanager
filemanager
mcmanager
powerpaste
tinymcespellchecker
a11ychecker
codemirror
mentions
**/bolt/bootstrap*.js
**/scratch
**/lib
**/dependency
**/instrumented_*
